.estilos{
    background-color: rgb(177, 187, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;



}
.windows{
 background-color: aquamarine;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: large;



}